/* page.css */

.AskFrens__MainPage {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 1em;
  z-index: 1;
  background: #1c1c1c1c;
}

.Header__Main {
  display: flex;
  align-items: center;
  gap: 1em;
}

.search-bar {
  flex-grow: 1;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
}

.Connect__Buttons {
  display: flex;
  gap: 1em;
}

.buttons {
  display: flex;
  gap: 1em;
}

.AskFrens__MainPage {
  background: #fff;
}

.Rendered__Content {
  /* margin-top: 3rem; */
}
.Options__Container {
  justify-content: center;
  text-align: center;
  gap: 1rem;
  display: flex;
  margin-top: 2rem;
}
.sismoConnectButton {
  justify-content: center;
  text-align: center;
  gap: 1rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.ConnectButton {
  margin-left: 0.5rem;
}
